.deal_blade {
	padding: 16px;
	padding-bottom: 26px;
	/* Transparent base color */
	background-color: transparent;

	/* Left-to-right fade from 20% opaque black to 50% opaque black */
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);

	/* Position and sizing: starts at top-left, auto-scales, repeats if needed */
	background-position: 0% 0%;
	background-size: auto;
	background-repeat: repeat;

	/* Clip and origin keep the gradient within the padding box up to the border edge */
	background-origin: padding-box;
	background-clip: border-box;
}

.price-grid {
	display: grid;
	grid-template-columns: max-content max-content;
	gap: 8px 16px;
	color: white;
	font-size: 14px;
	margin-bottom: 12px;
}

.price-grid span:nth-child(even) {
	font-weight: 600;
	text-align: right;
}

.deal_blade a {
	min-height: 17px;
	padding-top: 4px;
	padding-left: 8px;
	padding-bottom: 4px;
	line-height: 17px;
	background: rgba(103, 193, 245, 0.1);
	color: #67c1f5;
	border-radius: 1px;
	display: block;
	margin-bottom: 2px;
	font-family: 'Motiva Sans', Sans-serif;
	font-weight: 300;
	text-decoration: none;
}

.deal_blade a:hover {
	text-decoration: none;
	color: #ffffff;
	background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
}
